.passwordStrengthInlineDivLabel {
	display: inline-block;
	vertical-align: middle;
	width: 35%;
}

.passwordStrengthInlineDivInput {
	display: inline-block;
	vertical-align: middle;
	width: 63%;
	margin-left: 2%;
}
